@use '../../styles/variables' as *;

.cardTitle {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.cardTitleIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  flex: 0 0 auto;
}
